services:
  - type: web
    name: kiumbura-portfolio
    env: static
    buildCommand: echo "No build required for static site"
    staticPublishPath: .
    domains:
      - kiumbura-portfolio.onrender.com
    headers:
      - path: /*
        name: X-Frame-Options
        value: DENY
      - path: /*
        name: X-Content-Type-Options
        value: nosniff
      - path: /*
        name: Referrer-Policy
        value: strict-origin-when-cross-origin